@media (min-width: 576px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 1;
    }
}
